<!DOCTYPE html>
<html>

   <head>
      <title>dboydgit | Free Code Camp</title>
      <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
        <img src="https://www.gstatic.com/images/branding/product/1x/google_cloud_search_512dp.png" alt="dboydgit-profile">
        <h1>dboydgit | Free Code Camp | Image Search</h1>
        <h2>
          How to use:
        </h2>
        <h3>Pass a search string to "https://db-fcc-img.glitch.me/img/&ltmySearchString&gt", the service will return a JSON string 
          object containing the image url, description, and the site url where the image is hosted for up to 10 results.</h3>
        <h4>
          Offset the search results by adding "?offset=2" to the url (or any offset number)
        </h4>
        <h2>
          Example:
        </h2>
        <h4>input: https://db-fcc-img.glitch.me/img/cats</h4>
        <h4>TODO -- output: {original_url: "https://www.google.com", 
        short_url: "https://dbsurl.glitch.me/hnYh"}</h4>
        <h2>See recent searches:</h2>
        <h4>What have other people searched for recently? See a list at:</h4>
        <h4>https://db-fcc-img.glitch.me/recents</h4>
      </div>
   </body>
  
</html>
